* {
    font-family: 'Helvetica', sans-serif;
    background: #131313;
    color: white;
}

.home {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.home h1 {
    background-color: #7DCE13;
    background-image: linear-gradient(to top, #49FF00 0, #FBFF00 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
}

.home p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

#home_img {
    height: auto;
    width: auto;
}

.service_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

